*{
    -fx-background-color: white;
	-fx-text-fill:black;
}

.table-view{
	-fx-border-color: #8f8f96;
}

.table-view:hover {
	    -fx-background-color: pink;
	    	-fx-focus-color:pink;
}


.tree-view{
	-fx-font-color:black;
	-fx-focus-color:black;
	-fx-border-color:black;
	-fx-background-color: #8f8f96;
		-fx-text-fill:black;
	
}



.tree-table-row:hover{
	-fx-background-color: #8f8734;
}

.menu-bar {
    -fx-base: derive(#d0d0d0,-70%);
 
	-fx-text-fill:black;
    
}

.menu-bar:hover {
		-fx-text-fill:black;
	
}


Label{
	-fx-text-fill:black;
}
ChoiceBox {
	-fx-text-fill:black;
}
ChoiceBox >* {
	-fx-background-color:#8f8f96;
	-fx-text-fill:black;
}
ChoiceBox:hover {
	-fx-background-color:#7564b5;
}
Button {
	-fx-text-fill:black;
	-fx-background-color:#8f8f96;	
}
Button:hover {
	-fx-text-fill:black;
	-fx-background-color:#b1b1b3;	
}
Slider .axis {
	 -fx-tick-label-fill:black;
}  
Slider .track{
	-fx-background-color:#8f8f96;
}
Slider .track:hover{
	-fx-background-color:#b1b1b3;
}
Slider .thumb{
	-fx-background-color:#8f8f96;
}
Slider .thumb:hover{
	-fx-background-color:#b1b1b3;
}

